@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(#868f96, #596164);
  padding-bottom:3em;
}

#citylist {
  font-size: 16px;
  padding: 10px 0 10px 0;
}

.tab-content {
  background-color: white;
  margin-bottom: 20px;
}

.nav-link {
  color: white;
}

h1 {
  padding: 1rem 0 1rem 0;
  text-align: center;
  color: white;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size: small;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

footer a {
  color: rgb(151, 151, 151);
}

.map {
    height: 400px;
  }

.leaflet-container {
    font-family: 'Raleway', sans-serif;
}